:root {
  --primary-color: #c7a17a;
  --background-color: #f9f5f0;
  --dark-color: #151515;
}

.container {
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  padding: 20px;
}

.top-bar {
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  text-align: center;
}

.title {
  margin: 0;
}

.bar {
  background-color: var(--primary-color);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title2 {
  color: var(--dark-color);
}

.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.producto {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  padding: 20px;
  width: calc(33.33% - 20px);
}

.product__img img {
  max-width: 100%;
  height: auto;
}

.description {
  color: var(--dark-color);
  font-size: 1.25rem;
  margin-top: 10px;
}

.producto_info {
  margin-top: 10px;
}

.Price {
  color: var(--primary-color);
  font-weight: bold;
  margin-top: 5px;
}

.btn {
  background-color: var(--primary-color);
  border: none;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: var(--dark-color);
}