body {
    background-color: #dbbda7d6;
    min-height: 100vh;
  }
  
  .bottom-link {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    font-size: 24px;
  }
  
  .bottom-link:hover {
    text-decoration: underline;

}

.top-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  background-color: #f2f2f2;
}

.title {
  font-size: 50px;
}

.bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  background-color: #a58a59;
  margin: 0;
}

.bottom-link {
  margin: 0 100px;
  color: white;
  text-decoration: none;
}

.content {
  display: flex;
  justify-content: flex-end;
  padding: 30px;
}

.description {
  font-size: 24px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700; 
  font-size: 29px;
  max-width: 30%; 
}
.section-title {
    font-size: 50px;
    font-weight: bold;
    margin-top: 70px; 
    margin-bottom: -45px; 
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 40px;
}
.coffee-image {
    float: right; 
    margin-right: 600px; 
    margin-top: -650px; 
    max-width: 1000px; 
  }

.contact-section {
  text-align: center;
  margin-top: 20px;
}

.contact-link {
  color: #333;
  text-decoration: none;
  display: inline-block;
}

.contact-link i {
  margin-right: 5px;
}
.contact-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.contact-icon {
  font-size: 35px;
  margin-right: 10px; 
}

.contact-text {
  font-size: 20px; 
  margin-right: 15px;
}

.title2 {
  font-size: 2.4rem;
  padding: 0rem 0; 
  color: #221a1560;
  text-align: center; /* Alineamos el contenido al centro horizontalmente */
}

.productos {
  padding: 1rem 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(22rem, 1fr));
  gap: 3rem 1rem;
  box-sizing: border-box;

}
.producto {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 1px 10px 10px 2px rgba(0, 0, 0, .2);
  border: 6px solid transparent;
  border-radius: 5px;
}

.product__img img{
  width: 310px;

}

.description {
  font-weight: 600;
}

.buttom {
  width: 100%;
  height: 45px;
  display: grid;
  gap: 1rem 2rem;
}
.buttom .btn {
  border: none;
  outline: 0;
  cursor: pointer;
  border-radius: 5px;
}
.btn {
  background-color: #7c6947;
  font-size: 1.5rem;
  font-weight: 600;
}

.centered-title {
  text-align: center;
  font-weight: 600;
  font-size: 2.6rem;
}

.Foto {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  height: 80vh; /* Ajusta la altura según tus necesidades */
}

.center_img {
  text-align: center; /* Centrar la imagen horizontalmente */
}

.porque {
  max-width: 65%;
  height: auto;
}


  
